<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Users online: <%=counter%></h1>
    <p>Restart page to see</p>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      let socket = io()
    </script>
  </body>
</html>
